################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VersionUpdater/.vs
/VersionUpdaterTests/bin
/VersionUpdater/bin/Debug/net8.0
/VersionUpdater/obj
/VersionUpdaterTests/obj
